.book-heading {
    display: -webkit-box; /* wkhtmltopdf uses this one.*/
    /*It turns out that it has trouble with "display: flex" with the current wkhtmltopdf version (0.12.4 (with patched qt)
    because QT under the hood is an older version that doesn't support all of the newer display types like flex */
    display: -webkit-flex;
    display: flex;
}
.hobbit-img {
    width: 110px;
}