<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <title>Main Page</title>
</head>

<body>
    <nav>
        <h1>
            Welcome to the Main Page
        </h1>
    </nav>
    <div>
        <div class="left-menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index">Main</a></li>
                <li><a href="populated_with_js">Populated With JS</a></li>
                <li><a href="hello">Hello</a></li>
                <li><a href="demo">Demo Page</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="features">Features</a></li>
                <li><a href="docs">Documentation</a></li>

            </ul>
        </div>
        <div class="main-content">

        </div>
    </div>
</body>
</html>