<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/about-screen.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/static/css/about-print.css" rel="stylesheet" type="text/css" media="print">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <title>About</title>
</head>

<body>
    <nav>
        <div>
            <span class="heading">
                Welcome to the About Page
            </span>
            <span class="nav-button right">
                Login
            </span>
        </div>
    </nav>
    <div>
        <div class="left-menu">
            <h2>Menu</h2>
            <hr>
            <div>
                <div class="menu-item" onclick="window.location.href='/'">Main</div>
                <div class="menu-item" onclick="window.location.href='/populated_with_js'">Populated With JS</div>
                <div class="menu-item" onclick="window.location.href='/hello'">Hello</div>
                <div class="menu-item" onclick="window.location.href='/demo'">Demo Page</div>
                <div class="menu-item" onclick="window.location.href='/about'">About</div>
                <div class="menu-item" onclick="window.location.href='/includes_coverpage'">Includes Coverpage</div>
            </div>
        </div>
        <div class="main-content">
            <h3>This page demonstrates the different types of link tags you can define.</h3>
            <p>Typically a css link tag looks like this:</p>
            <p><strong>&lt;link href="/some/path/to/file.css" rel="stylesheet" type="text/css"&gt;</strong></p>
            <p>But there is another parameter you can define in the link tag. <b>media</b></p>
            <div class="screen-only">
                If you define <strong>media="screen"</strong>, then the page will use the css defined in that file for screen viewing only (even if you have defined some @media print css in the file).
            </div>
            <div class="print-only">
                But if you define <strong>media="print"</strong>, then the page will use the css defined in that file for print viewing (even if you have defined some @media screen css in the file).
            </div>
        </div>
    </div>

</body>
</html>