<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/demo.css" rel="stylesheet" type="text/css">
    <title>Demo</title>
</head>

<body>
    <nav>
        <div>
            <span class="heading">
                Welcome to the Demo Page
            </span>
            <span class="nav-button right">
                Login
            </span>
        </div>
    </nav>
    <div>
        <div class="left-menu">
            <h2>Menu</h2>
            <hr>
            <div>
                <div class="menu-item" onclick="window.location.href='/'">Main</div>
                <div class="menu-item" onclick="window.location.href='/populated_with_js'">Populated With JS</div>
                <div class="menu-item" onclick="window.location.href='/hello'">Hello</div>
                <div class="menu-item" onclick="window.location.href='/demo'">Demo Page</div>
                <div class="menu-item" onclick="window.location.href='/about'">About</div>
                <div class="menu-item" onclick="window.location.href='/includes_coverpage'">Includes Coverpage</div>
            </div>
        </div>
        <div class="main-content">
            <div class="flex">
                <div>
                    <div class="center">
                        <h1>Memes</h1>
                        <h4>What are they?</h4>
                        <img width="600" src="/static/img/toystory.jpeg">
                    </div>
                    <p>
                        According to the definition that shows up in the Google search <a href="https://www.google.com/search?q=what+are+memes&oq=what+are+memes">what are memes</a>,
                        they are
                        <br>
                        <b> "an element of a culture or system of behavior that may be considered to be passed from one individual to another by nongenetic means, especially imitation."</b>
                        <br>
                        An alternate definition of meme is <b>"a humorous image, video, piece of text, etc., that is copied (often with slight variation) and spread rapidly by Internet users."</b>
                    </p>
                    <p>The origin of the word is from the Greek word <i>mimēma</i> 'that which is imitated' combined with the word pattern of the English work <i>gene</i>.</p>
                    <br>
                    <div class="center">
                        <img width="500" src="/static/img/inigo.jpeg">
                    </div>
                    <br>
                    <p>
                        There are many articles on the Internet that try to explain what memes are, including this very page.
                        The <a href="https://www.lifewire.com/what-is-a-meme-2483702">article</a> from lifewire.com says the following:
                    </p>
                    <div class="quote">
                        <p><b>A 'meme' is a virally-transmitted cultural symbol or social idea. </b></p>
                        <p>The majority of modern memes are captioned photos that are intended to be funny, often as a way to publicly ridicule human behavior. Other memes can be videos and verbal expressions. Some memes have heavier and more philosophical content.</p>
                        <p>The world of memes (which rhymes with 'teams') is noteworthy for two reasons: <i>it is a worldwide social phenomenon, and memes behave like a mass of infectious flu and cold viruses, traveling from person to person quickly through social media.</i></p>
                        <p><i>According to Cecil Adams of theStraightDope.com, the concept of memes "is either really deep, or really, really obvious".</i></p>
                    </div>
                    <br>
                    <p>Here is a video explaining memes:</p>
                    <p class="video-link">Video link: https://www.youtube.com/embed/CCPIt9lrohE</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CCPIt9lrohE" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="sidebar">
                    <img src="/static/img/boromir.jpeg" width="300">
                    <p>This is a classic meme of Boromir speaking in the Council of Elrond.</p>
                    <p>In the movie he says the line <b>"One does not simply walk into Mordor."</b> He is stating that the thing that they were suggesting was not as easy as they were making it sound.</p>
                    <br>
                    <p>So naturally this scene has been used to make memes of all sorts of things that are difficult to do.</p>
                    <img src="/static/img/boromir-tictac.jpeg" width="300">
                    <img src="/static/img/boromir-birthday.jpeg" width="300">
                    <p>The limit to memes is your imagination.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>