<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/includes_coverpage.css" rel="stylesheet" type="text/css">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <title>Contact</title>
</head>

<body>
    <nav>
        <div>
            <span class="heading">
                Welcome to the Contact Page
            </span>
            <span class="nav-button right">
                Login
            </span>
        </div>


    </nav>
    <div>
        <div class="left-menu">
            <h2>Menu</h2>
            <hr>
            <div>
                <div class="menu-item" onclick="window.location.href='/'">Main</div>
                <div class="menu-item" onclick="window.location.href='/populated_with_js'">Populated With JS</div>
                <div class="menu-item" onclick="window.location.href='/hello'">Hello</div>
                <div class="menu-item" onclick="window.location.href='/demo'">Demo Page</div>
                <div class="menu-item" onclick="window.location.href='/about'">About</div>
                <div class="menu-item" onclick="window.location.href='/includes_coverpage'">Includes Coverpage</div>
            </div>
        </div>
        <div class="main-content">
            <p>One area where there is a clear winner is in adding coverpages to the generated pdf.</p>
            <p>
                It is possible that PhantomJS has this ability, but I have not discovered it yet. So if it does have it,
                then it is not very well documented or used.
            </p>
            <br/>
            <p>But it comes built into the documentation of WkHtmlToPdf and is easy to use.</p>
            <p>I made it so that if you add <b>?cp=t</b> to your url when request that WkHtmlToPdf turn it into pdf, it will add a coverpage.</p>
        </div>
    </div>

</body>
</html>